
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="uk-grid-match uk-grid-small  uk-padding" uk-grid>
    <div class="uk-width-1-1@m uk-width-1-1@s">
        <div class="uk-card uk-card-default card">
            <div class="uk-card-body">
                <h4>پس از تایید مدیریت ثبت نام شما تکمیل خواهد شد!</h4>
            </div>
        </div>
    </div>
</div>