
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<!-------------------------- sitemap start ------------------------------>

<div class="uk-container">
    <div class="uk-text-center" uk-grid>
        <div class="uk-width-1-2 uk-padding">
            <div class="uk-card uk-card-default  ">
                <div class="uk-card-header" style="background-color: #3333">
                    <h5 class="uk-card-title uk-text-right">متن تصادفی</h5>
                </div>
                <div class="uk-card-body uk-padding-small">


                    <div class="uk-panel ">
                        <ul class="uk-list uk-align-right uk-padding-remove uk-margin-remove">
                            <li><a href="#"> <label>  <span uk-icon="icon: triangle-right"></span> دسته 1</label></a></li>
                            <li>
                                <a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 2</label></a>
                                <ul>
                                    <li><a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 2.1</label></a></li>
                                    <li><a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 2.2</label></a></li>
                                    <li>
                                        <a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 2.3</label></a>
                                        <ul>
                                            <li><a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 2.3.1 </label></a></li>
                                            <li><a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 2.3.2 </label></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 2.4 </label></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><label> <span uk-icon="icon: triangle-right"></span> دسته 3 </label></a></li>
                            <li><a href="#"><label><span uk-icon="icon: triangle-right"></span> دسته 4 </label></a></li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
        <div class="uk-width-1-2 uk-padding">
            <div class="uk-card uk-card-default ">
                <div class="uk-card-header" style="background-color: #3333">
                    <h5 class="uk-card-title uk-text-right">متن تصادفی</h5>
                </div>
                <div class="uk-card-body uk-padding-small">


                    <div class="uk-panel ">
                        <ul class="uk-list uk-align-right uk-padding-remove uk-margin-remove">
                            <li><a href="~/Home"><label><span uk-icon="icon: triangle-right"></span>صفحه ی اصلی</label></a></li>
                            <li><a href="~/Home/Contactus"><label> <span uk-icon="icon: triangle-right"></span>تماس با ما</label></a></li>
                            <li><a href="~/Home/Aboutus"><label><span uk-icon="icon: triangle-right"></span>درباره ی ما</label></a></li>
                            <li><a href="#"><label><span uk-icon="icon: triangle-right"></span>تازه های سلامت</label></a></li>
                            <li><a href="#"><label><span uk-icon="icon: triangle-right"></span>ورود/عضویت</label></a></li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------- sitemap end  -------------------------------->
